<div class="col-xs-12 col-sm-9">
  <%= link_to 'Add New category', new_category_path, class: 'btn btn-primary'  %><br /><br />
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">category List</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>Name</th>
      </tr>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= link_to 'Show', category_path(category) %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category_path(category),
                          method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
      <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'list-group-item' %>
      <%= link_to 'logout', destroy_user_session_path, :method => :delete, :class => 'list-group-item' %>
    </div>

    <div class="list-group">
      <%= link_to 'New Post', new_post_path, :class => 'list-group-item' %>
      <%= link_to 'New Category', new_category_path, :class => 'list-group-item' %>
    </div>
</div>